@import 'pure.css';
@import 'nav.css';
@import 'footer.css';
@import 'media.css';

.header {
	box-sizing: border-box;
	border-bottom: 0.5px solid var(--color-nav-gray);
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
	background: var(--color-white);
}

.menu.scroll {
	.menu-link::after {
		background-color: var(--color-white) !important;
	}
}

.icon-burger .line {
	background-color: var(--color-blue) !important;
}

a {
	color: var(--color-dark) !important;
}

.user-action-link.blue {
	color: var(--color-blue) !important;
}

/* * contact */
.from-top {
	padding-top: 200px;
}

.contact-inner {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-left: 32px;
}
.contact-info {
	padding-top: 38px;
}
.contact-info-block {
	display: flex;
	ion-icon {
		width: 32px;
		color: var(--color-blue);
	}
}
.contact-info-adress {
	padding-bottom: 36px;
	padding-left: 23px;
	p {
		color: var(--color-black);
		font-size: 14px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: 1%;
		text-align: left;
		padding-bottom: 6px;
	}
	h2 {
		color: var(--color-dark);
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0%;
		text-align: left;
	}
}

.logo-p {
	left: 0px;
	z-index: -1;
	top: 9%;
	position: fixed;
}
.left {
	width: 50%;
	h1 {
		color: var(--color-dark);
		font-size: 36px;
		font-weight: 500;
		line-height: 44px;
		letter-spacing: -2%;
	}
}
.right {
	width: 50%;
	iframe {
		width: 100%;
		border-radius: 10px;
	}
}

.hr {
	width: 500px;
	margin-top: 29.5px;
	border-top: 1px solid #d9d9d9;
	margin-bottom: 30.5px;
}

.links a {
	color: var(--color-dark);
	font-size: 20px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 1%;
	text-align: left;
	margin-right: 30px;
}

@media (max-width: 650px) {
	.from-top {
		padding-top: 130px !important;
	}
}
