@font-face {
	font-family: 'Rubik';
	src: url('/styles/fonts/rubik/Rubik-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
:root {
	--color-white: rgb(255, 255, 255);
	--color-dark: rgb(58, 58, 58);
	--color-black:rgb(149, 149, 149);
	--color-blue: rgb(2, 162, 222);
	--color-gray: : rgb(138,138,138);
	--color-nav-gray: rgba(255, 255, 255, 0.5);
	--font-family-base: 'Rubik';
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family-base);
	transition: 0.4s;
	/* background: var(--color-blue); */
}

body,html{
	overflow-x: hidden;
}

.loader {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-white);
	transition: opacity .90s, visibility .90s;
  }
  
  .loader--hidden {
	opacity: 0;
	visibility: hidden;
  }
  
  .loader::after {
	content: "";
	width: 75px;
	height: 75px;
	border: 15px solid var(--color-nav-gray);
	border-top-color: var(--color-blue);
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
	from {
	  transform: rotate(0turn);
	}
	to {
	  transform: rotate(1turn);
	}
  }
  

.container{
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

h1, h2, h3, h4, h5 , h6{
	font-weight: 700
}

a{
	text-decoration: none !important;
	color: var(--color-white) !important;
}

ul{
	list-style: none;
	display: flex;
}
i{
	color: var(--color-white) ;
}

button{
	width: 159px;
	height: 49px;
	box-sizing: border-box;
	border-radius: 20px !important;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 2%;
	cursor: pointer;
	background: transparent;
}

.title{
	color: var(--color-dark);
	font-size: 36px;
	font-weight: 600;
	line-height: 43px;
	letter-spacing: 2%;
	text-align: center;
	margin-bottom: 6px;
}



.title-hr {
	width: 100px;
	height: 4px;
	margin: 0 auto;
	border-radius: 3px;
	background-color: var(--color-blue);
	position: relative;
	margin-bottom: 30px;
  }
  .title-hr::before {
	content: "";
	position: absolute;
	width: 18%;
	top: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	background: var(--color-white);
	animation: l3 3s infinite ease-in-out;;
	border-radius: 3px;
  }
  @keyframes l3 {
	  50% {left:100%;transform: translateX(calc(-100% - 4px))}
  }


.logo-p {
	width: 588px;
	height: 600px;
	position: absolute;
	left: 0px;
	z-index: -10;
}

.from-top {
	padding-top: 100px;
}
.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
  }
  
  .reveal.active{
	transform: translateY(0);
	opacity: 1;
  }